# requirements.txt
# --------------------
# This file records the packages and requirements needed in order for
# all models of natcap.invest to work as expected.
#
# Packages required for extras (like the UI) are in requirements-gui.txt.
#
# Note that there may be some OS-specific requirements, so be sure to run
# `make check` to verify you have all the required packages.
#
# Any lines with "# pip-only" at the end will be processed by
# scripts/convert-requirements-to-conda-yml.py as though it can only be found
# on pip.

chardet>=3.0.4
Cython
ecoshard==0.4.1
flask
GDAL>=3.1.2
matplotlib
numpy>=1.20.0
pandas>=0.22.0
psutil>=5.6.6
Pyro4==4.77  # pip-only
pytest
requests
retrying
Rtree>=0.8.2,!=0.9.1
scikit-image
scikit-learn
scipy
Shapely>=1.6.4
taskgraph
xlrd>=1.2.0
xlwt
git+https://github.com/richpsharp/pygeoprocessing.git@b87d048eef9ff2bc3b1633ef4cdd89c2a0984004
